@import "tailwindcss";

@theme {
  --font-sans: var(--font-monaco), "Monaco", "Courier New", Courier, monospace;

  --color-mervi-green: #10b981;
  --color-mervi-dark: #0f172a;
  --color-mervi-light: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
