@import "tailwindcss";

@theme {
  --font-sans: var(--font-monaco), "Monaco", "Courier New", Courier, monospace;
  --color-mervi-blue: #3b82f6;
  --color-mervi-dark: #0f172a;
  --color-mervi-light: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
